#demo-monitor
  .od-mode-elements
    .monitor-button-container
      #heatmap-button-heatmap.heatmap-button.monitor-button HEATMAP
      #heatmap-button-activities.heatmap-button.monitor-button.active= t('demo.activities')

    #map-container
      #demo-monitor-map
        = image_tag 'hexagon', class: 'demo-hexagon-overlay'

    #mode-name-container
      #mode-name
      #feature-starts
    #activity-legend

    %svg#activity-split

  .activity-mode-elements
    #explanation-a.explanation
      %h1= t('demo.welcome_to_3connect')
      %b= t('demo.discover_osnabrueck')
      %p= t('demo.text1')

    #explanation-b.explanation
      %h1= t('demo.the_project_osnabrueck')
      %b= t('demo.mobility_in_osnabrueck')
      %p= t('demo.text2')

    .monitor-button-container
      .explanation-button.monitor-button.active{target: '#explanation-a'}= t('demo.welcome')
      .explanation-button.monitor-button{target: '#explanation-b'}= t('demo.background')

  #data-loading loading...
  #loading-bar

  #mode-color-container{style: 'display: none'}
    - @demo_mode_colors.each do |mode, mode_color|
      .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase

// do not include via asset pipeline since mapbox is required for all other maps instead
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-heat'
