#demo-touch
  .action-blocker

  .row
    .mode-button-container
      - Scenario.first.mode_colors.each do |mode, mode_color|
        .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase
  .row
    #log
    #od-map
      .switch-button-container
        .switch-button.active{start_or_end: 'start'}= t('demo.start')
        .switch-button{start_or_end: 'end'}= t('demo.end')
        .switch-button{start_or_end: 'activity'}= t('demo.activity')

    .legend
      .legend-label.current-count
      .current-count-bar
      .legend-label.legend-zero 0

  %svg#polygon-modal-split

  #data-loading loading...

// do not include via asset pipeline since conflicting mapbox lib is required for all other maps instead
= javascript_include_tag 'leaflet'
= javascript_include_tag 'leaflet-polyline-decorator'
