.row
  .col-md-8.col-sm-9.center-block.text-center
    %header
      %h1= t('views.about.header')
      %h2= t('views.about.header_text')

.row.inner-top-md
  .col-sm-4
    %h2= t('views.about.feature_1_title')
    %p= t('views.about.feature_1_content')
  .col-sm-4
    %h2= t('views.about.feature_2_title')
    %p= t('views.about.feature_2_content')
  .col-sm-4
    %h2= t('views.about.feature_3_title')
    %p= t('views.about.feature_3_content')

.row.inner-top-md
  .col-sm-4
    %h2= t('views.about.feature_4_title')
    %p= t('views.about.feature_4_content')
  .col-sm-4
    %h2= t('views.about.feature_5_title')
    %p= t('views.about.feature_5_content')
  .col-sm-4
    %h2= t('views.about.feature_6_title')
    %p= t('views.about.feature_6_content')
