.row.inner-top-md
  .col-xs-12.center-block.text-center
    %h1= t('views.about.innoz_competency_title')

.row.inner-top-md
  .col-sm-4
    %h2= t('views.about.innoz_feature_1_title')
    %p= t('views.about.innoz_feature_1_content')
  .col-sm-4
    %h2= t('views.about.innoz_feature_2_title')
    %p= t('views.about.innoz_feature_2_content')
  .col-sm-4
    %h2= t('views.about.innoz_feature_3_title')
    %p= t('views.about.innoz_feature_3_content')
