%section#hero
  #owl-main.owl-carousel.owl-one-item
    .item{style: "background-image: url(#{asset_path 'pages/index/hero.jpg'});"}
      .container
        .caption.vertical-center.text-left
          %h1.fadeInRight-1.dark-bg.light-color
            %span
              = t('views.index.header')
          %p.fadeInRight-2.light-color
            = t('views.index.header_text')

%section#introduction
  .container.inner-top-sm.inner-bottom-xs
    .row
      .col-xs-12
        %h1.text-center
          = t('innoz_short')+' '+t('service')

%section#introduction
  .container.inner-xs
    .row
      .col-sm-6
        = image_tag 'pages/index/01', width: '100%'
      .col-sm-6
        .pre-header
          = t('views.index.challenges')
        %h2
          = t('views.index.challenges_title')
        %p
          = t('views.index.challenges_text')

%section#introduction
  .container.inner-sm
    .row
      .col-sm-6
        .pre-header
          = t('views.index.solutions')
        %h2
          = t('views.index.solutions_title')
        %p
          = t('views.index.solutions_text')
      .col-sm-6
        = image_tag 'pages/index/02', width: '100%'
