.row
  .col-xs-12
    = render 'layouts/flash'
    %h2
      %i.icon-chart-pie
      Wie ist das Verkehrsaufkommen auf Verkehrsmittel aufgeteilt?
    %hr
  .col-xs-12
    .chart-legend
      - @scenario_a.available_modes.each do |mode|
        - mode_color = @scenario_a.mode_color(mode)
        .chart-legend-item
          .chart-legend-icon{style: "background: #{mode_color}"}
          = t("mode_names.#{mode}").upcase

- [@scenario_a, @scenario_b].each_with_index do |scenario, index|
  - index == 0 ? ab = 'a' : ab = 'b'
  - if scenario
    .row
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title{class: ('light-panel-title' if ab == 'b')}
              %i.icon-road
              Modal Split
              .label.label-info= scenario.year
          .panel-body
            %svg.box-chart{id: 'modal-split-chart-' + ab}
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title{class: ('light-panel-title' if ab == 'b')}
              %i.icon-chart-bar
              Verkehrsleistung
              .label.label-info= scenario.year
          .panel-body
            %svg.box-chart{id: 'traffic-performance-chart-' + ab}
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title{class: ('light-panel-title' if ab == 'b')}
              %i.icon-leaf-1
              CO2-Emissionen
              .label.label-info= scenario.year
          .panel-body
            %svg.box-chart{id: 'carbon-emission-chart-' + ab}
