.row
  .col-xs-12.text-center
    %h2= t '.miv_vs_umweltverband'
    %h3= t '.who_wins_and_who_looses'

.row
  .col-xs-4
  .col-xs-4.cell.white-bottom-border.text-center
    = image_tag 'icon_miv', height: 50
    = "#{@scenario_a.year} #{t('to')} #{@scenario_b.year}"
  .col-xs-4.cell.white-bottom-border.text-center
    = image_tag 'icon_umweltverbund', height: 50
    = "#{@scenario_a.year} #{t('to')} #{@scenario_b.year}"

- ['modal_split', 'traffic_performance', 'co2_emissions'].each do |feature|
  .row
    .col-xs-4.cell
      = t feature.to_s
    - ['car', 'pt'].each do |mode|
      .col-xs-4.cell.white-bottom-border.text-center
        %p.comparision-value{feature: feature, mode: mode}
