.row
  .col-xs-12
    %h2
      %i.icon-arrows-cw
      = t '.how_looks_traffic_flow'
    %hr
.row
  .col-sm-12.mode-selector-container
    - @scenario_a.available_modes.each do |mode|
      - mode_color = @scenario_a.mode_color(mode)
      .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase

  .col-xs-12
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %span
            %i.icon-address
            = t '.od_relations'
            .label.label-info= @scenario_a.year
        .panel-body
          .legend
            .row
              .col-xs-12
                .total-count
                .current-count-bar-container
                  .legend-label= t 'count' + ':'
                  .legend-label.legend-zero 0
                  .current-count-bar
                  .legend-label.current-count
          #od-map-a

    - if @scenario_b
      .panel.panel-default
        .panel-heading
          %h4.panel-title.light-panel-title
            %span
              %i.icon-address
              = t '.od_relations'
              .label.label-info= @scenario_b.year
          .panel-body
            .legend
              .row
                .col-xs-12
                  .total-count
                  .current-count-bar-container
                    .legend-label= t 'count' + ':'
                    .legend-label.legend-zero 0
                    .current-count-bar
                    .legend-label.current-count
            #od-map-b
