%section#index
  .container.inner-xs
    .row.text-center
      .col-xs-12
        %br
        %h2= t('views.scenarios.my_scenarios')
        = render 'layouts/flash'
    .pull-right
      %%a.edit-scene.icon-th-list{:href => "/scenarios"}

    .row
      .col-sm-12.portfolio
        %ul.filter.text-center
          %li
            - @scenarios.all.map(&:year).uniq.sort.each do |year|
              %a.active{'data-filter' => ".year-#{year}", href: '#'}
                = year
            %a.active{'data-filter' => '*', href: '#'}= t('all')

        %ul.isotope.items.col-3.gap
          - @scenarios.each_with_index do |s, i|
            %li.item.thumb{class: "year-#{s.year}"}
              %figure
                = link_to scenario_path(s) do
                  .icon-overlay.icn-link
                    .index-district-map{id: "map_#{i}",  district_id: s.district_id}
                %figcaption.bordered.no-top-border
                  .info
                    %h4= s.district_name
                    %p= s.year

:javascript
  window.districts_germany = #{@districts_germany}
