%section#index
  .container.inner-xs
    .row.text-center
      .col-xs-12
        %br
        %h1 Bestehende Szenarios
        = render 'layouts/flash'
    - @scenarios.each do |s|
      = link_to scenario_path(s) do
        .row.scenario-row
          .col-sm-4
            %h3= s.district_name
          .col-xs-4.col-sm-2
            %b Jahr:
            = s.year
          .col-xs-4.col-sm-2
            %b Agenten:
            = s.number_of_agents
          .col-xs-4.col-sm-4
            %b erstellt am
            = s.created_at
