%section#index
  .container.inner-xs
    .row.text-center
      .col-xs-12
        %br
        %h1 Bestehende Szenarios
        = render 'layouts/flash'

    .row
      .col-sm-12.portfolio
        %ul.filter.text-center
          %li
            - @scenarios.all.map(&:year).uniq.sort.each do |year|
              %a.active{'data-filter' => ".year-#{year}", href: '#'}
                = year
            %a.active{'data-filter' => '*', href: '#'} Alle

        %ul.isotope.items.col-3.gap
          - @scenarios.each do |s|
            %li.item.thumb{class: "year-#{s.year}"}
              %figure
                -# .icon-overlay.icn-link
                -#   = link_to scenario_path(s) do
                -#     = image_tag '', height: 200
                %figcaption.bordered.no-top-border
                  .info
                    = link_to scenario_path(s) do
                      %h4= s.district_name
                      %p= s.year
