%section#new
  .container-full
    .row
      .col-xs-12
        #map-germany
          = form_for @scenario do |f|
            .scenario-selection-form
              .row
                .col-sm-6
                  = f.select 'district_id', DistrictsGermany.list
                .col-sm-2
                  = f.select 'year', options_for_select(2009..2040)
                .col-sm-4
                  = render 'layouts/flash'
                  = f.button class: 'btn btn-default' do
                    %i.icon-cog-alt

:javascript
  window.districts_germany = #{@districts_germany}
