%section#introduction
  .container.inner-xs
    .row
      .col-xs-12.text-center
        %h1 Neues Szenario erstellen
      .col-xs-12.text-center.scenario-selection-form
        = form_for @scenario do |f|
          .row
            .col-xs-12
              #map-germany
            .col-sm-4
              = f.text_field 'district_id', placeholder: 'Landkreis wählen'
            .col-sm-4
              = f.select 'year', options_for_select(2009..2040)
            .col-sm-4
              = f.button class: 'btn btn-default' do
                %i.icon-cog-alt
              - flash.each do |type, msg|
                .alert{class: "alert-#{type} flash-message", role: 'alert'}
                  = msg

    .row.text-center
      .col-xs-12
        %br
        %h1 Bestehende Szenarios
    - @scenarios.each do |s|
      .row.text-center
        .col-xs-4= s.district_id
        .col-xs-4= s.year
        .col-xs-4= s.json.last(40) + '...'

:javascript
  window.districts_germany = #{@districts_germany}
