%section#introduction
  .container.inner-xs
    .row
      .col-xs-12.text-center
        %h1 Neues Szenario erstellen
      .col-xs-12.text-center.scenario-selection-form
        = form_tag 'run_scenario' do |form|
          .row
            .col-sm-6
              #map-germany
              .district-name
            .col-sm-6
              = text_field_tag 'district_id', nil, placeholder: 'Landkreis wählen'
              = select_tag 'year', options_for_select(2009..2040)
              = button_tag class: 'btn btn-default' do
                %i.icon-cog-alt
              - flash.each do |type, msg|
                .alert{class: "alert-#{type} flash-message", role: 'alert'}
                  = msg

:javascript
  window.districts_germany = #{@districts_germany}
  window.germany_simple = #{@germany_simple}
