%section#hero
  .container-full
    .row
      .col-xs-12
        #district-geometry
          .blue-haze
        .overlay
          .district-name.landkreis
            LANDKREIS
          .district-name
            = @scenario_a.district_name.upcase
          .info
            %h4= "Bevölkerung: #{@scenario_a.population}"
            %h4= "Fläche: #{@scenario_a.district_area}"

%section#compare-form
  .container.inner-sm
    .row
      .col-xs-12
        = render 'layouts/flash'
      .col-xs-12.text-center
        %h2 Mobilitätsszenarien vergleichen
      = form_tag '/show/' + params[:district], method: :get do
        .col-sm-5
          = select_tag 'year_a', options_from_collection_for_select(@scenarios, :year, :full_name, params[:year_a])
        .col-sm-2.text-center
          %h3 und
        .col-sm-5
          = select_tag 'year_b', options_from_collection_for_select(@scenarios, :year, :full_name, params[:year_b]), {prompt: 'Szenario wählen'}
        .col-xs-12
          = submit_tag 'Okay', name: nil, class: 'btn btn-default'

%section#pie-charts.light-bg
  .container.inner-sm
    = render 'pie_charts'

%section#line-charts.light-bg
  .container.inner-xs
    = render 'line_charts'

%section#grid-map-section.light-bg
  .container.inner-sm
    = render 'grid_maps'

:javascript
  window.boxplot = #{@scenario_a.boxplot}
  window.dataScenarioA = #{@scenario_a.json_all.to_json}
  window.odRelationsScenarioA = #{@scenario_a.od_relations}

- if @scenario_b
  :javascript
    window.dataScenarioB = #{@scenario_b.json_all.to_json}
    window.odRelationsScenarioB = #{@scenario_b.od_relations}
