%section#hero
  .container-full
    .row
      .col-xs-12
        #district-geometry
          .blue-haze
        .overlay
          .district-name.landkreis
            LANDKREIS
          .district-name
            = @scenario.district_name.upcase
          %ul.info
            %li= "Wege: #{@scenario.agent_size}"
            %li= "Bevölkerung: #{@scenario.population}"
            %li= "Bevölkerungsänderung gegenüber 2017: #{@scenario.population_diff_2017}"
            %li= "Fläche: #{@scenario.district_area}"
            %li= "Info: #{@scenario.seed_text}"

%section#pie-charts.light-bg
  .container-fluid.inner-sm
    .row
      .col-xs-12
        = render 'layouts/flash'
        %h2
          %i.icon-chart-pie
          Wie ist das Verkehrsaufkommen auf Verkehrsmittel aufgeteilt?
        %hr
      .col-xs-12
        .chart-legend
          - @scenario.available_modes.each do |mode|
            - mode_color = @scenario.mode_color(mode)
            .chart-legend-item
              .chart-legend-icon{style: "background: #{mode_color}"}
              = t("mode_names.#{mode}").upcase
    .row.inner-top-xs
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title
              %i.icon-road
              Modal Split
              .label.label-info= @scenario.year
          .panel-body
            %svg#modal-split-chart.box-chart
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title
              %i.icon-chart-bar
              Verkehrsleistung
              .label.label-info= @scenario.year
          .panel-body
            %svg#traffic-performance-chart.box-chart
      .col-sm-4
        .panel.panel-default
          .panel-heading
            .panel-title
              %i.icon-leaf-1
              CO2-Emissionen
              .label.label-info= @scenario.year
          .panel-body
            %svg#carbon-emission-chart.box-chart

    -# .row
    -#   .col-sm-6.box
    -#     %h2.text-center Tagesganglinie
    -#     .box-chart
    -#       %svg#diurnal-curve-chart
    -#   .col-sm-6.box
    -#     %h2.text-center Wegedauer
    -#     .box-chart
    -#       %svg#boxplot-chart

%section#grid-map-section.light-bg
  .container-fluid.inner-top-xs
    .row
      .col-xs-12
        %h2
          %i.icon-arrows-cw
          Wie sehen die Verkehrsströme im Landkreis aus?
        %hr
    .row
      .col-sm-12.od-mode-selector-container
        - @scenario.available_modes.each do |mode|
          - mode_color = @scenario.mode_color(mode)
          .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase
      .col-xs-12
        .panel.panel-default
          .panel-heading
            .panel-title
              %i.icon-address
              Start-Ziel-Beziehungen
              .label.label-info= @scenario.year
          .panel-body
            .legend
              .row
                .col-xs-12
                  .total-count
                  .current-count-bar-container
                    .legend-label Anzahl:
                    .legend-label.legend-zero 0
                    .current-count-bar
                    .legend-label.current-count
            #grid-map

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
  window.modalSplit = #{@scenario.modal_split.to_json}
  window.trafficPerformance = #{@scenario.traffic_performance.to_json}
  window.diurnalCurve = #{@scenario.diurnal_json.to_json}
  window.boxplot = #{@scenario.boxplot}
  window.carbonEmission = #{@scenario.carbon_emission.to_json}
  window.odRelations = #{@scenario.od_relations}
  window.modeColors = #{@scenario.mode_colors.to_json}
