%section#hero.tint-bg
  .container.inner-xs
    = render 'layouts/flash'
    .row
      .col-sm-4
        #district-geometry
      .col-sm-8
        %header
          %ul
            %h2
              = "#{@scenario.district_name} #{@scenario.year}"
          %ul= "Wege: #{@scenario.agent_size}"
          %ul= "Bevölkerung: #{@scenario.population}"
          %ul= "Bevölkerungsänderung gegenüber 2017: #{@scenario.population_diff_2017}"
          %ul= "Fläche: #{@scenario.district_area}"
          // placeholder for bbsr type
          // can be removed when matsim delivers bbrs
          - unless @scenario.bbsr.nil?
            %ul= "BBSR Raumtyp: " + t("bbsr_names.#{String(@scenario.bbsr)}")
          %ul= "Info: #{@scenario.seed_text}"
%section#show
  .container-fluid.inner-bottom-sm
    .row
      .col-sm-6.box#modal-split-box
        %h2.text-center Modal Split
        %svg#modal-split-chart.box-chart
      .col-sm-6
        .row
          .col-xs-12.box
            %h2.text-center Tagesganglinie
            .box-chart
              %svg#diurnal-curve-chart
          .col-xs-12.box
            %h2.text-center Wegedauer
            .box-chart
              %svg#boxplot-chart
    .row
      .col-sm-6.box
        %h2.text-center Verkehrsleistung
        .box-chart
          %svg#traffic-performance-chart
      .col-sm-6.box
        %h2.text-center CO2 Emissionen
        .box-chart
          %svg#carbon-emission-chart

  .container-full.inner-top-xs
    .row
      .col-sm-12.text-center
        - @scenario.modes.each do |mode|
          %button.btn.btn-small.od-mode-selector{od_mode: mode}= t("mode_names.#{mode}").upcase
        #grid-map

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
  window.modalSplit = #{@scenario.modal_split.to_json}
  window.trafficPerformance = #{@scenario.traffic_performance.to_json}
  window.diurnalCurve = #{@scenario.diurnal_json.to_json}
  window.boxplot = #{@scenario.boxplot}
  window.carbonEmission = #{@scenario.carbon_emission.to_json}
  window.odRelations = #{@scenario.od_relations}
