%section#hero.tint-bg
  .container.inner-xs
    .row
      .col-sm-4
        #district-geometry
      .col-sm-8
        %header
          %h2= @scenario.district_name
          %h1= @scenario.year

%section#show
  .container.inner-xs
    .row
      .col-xs-12
      = render 'layouts/flash'
      .col-sm-5.text-center
        %h1= @scenario.number_of_agents.to_s + ' Agenten'
      .col-sm-7.text-center
        %h1 Modal Split
        %svg#modal-split-chart
    .row
      .col-xs-12
        %b erstellt am
        = @scenario.created_at

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
  window.modalSplit = #{@scenario.modal_split.to_json}
