%section#hero
  .container-full
    .row
      .col-xs-12
        #district-geometry
          .blue-haze
        .overlay
          .district-name.landkreis
            LANDKREIS
          .district-name
            = @scenario_a.district_name.upcase
          %ul.info
            %li= "Wege: #{@scenario_a.agent_size}"
            %li= "Bevölkerung: #{@scenario_a.population}"
            %li= "Bevölkerungsänderung gegenüber 2017: #{@scenario_a.population_diff_2017}"
            %li= "Fläche: #{@scenario_a.district_area}"
            %li= "Info: #{@scenario_a.seed_text}"

%section#pie-charts.light-bg
  .container-fluid.inner-sm
    .row
      .col-xs-12
        = render 'layouts/flash'
        = form_tag '/show', method: :get do
          = select_tag 'id_a', options_from_collection_for_select(Scenario.all, :id, :full_name, params[:id_a])
          = select_tag 'id_b', options_from_collection_for_select(Scenario.all, :id, :full_name, params[:id_b]), {include_blank: true}
          = submit_tag 'Submit'
        =  @scenario_b ? @scenario_b.full_name : 'nothing'
        %h2
          %i.icon-chart-pie
          Wie ist das Verkehrsaufkommen auf Verkehrsmittel aufgeteilt?
        %hr
      .col-xs-12
        .chart-legend
          - @scenario_a.available_modes.each do |mode|
            - mode_color = @scenario_a.mode_color(mode)
            .chart-legend-item
              .chart-legend-icon{style: "background: #{mode_color}"}
              = t("mode_names.#{mode}").upcase
    - [@scenario_a, @scenario_b].each_with_index do |scenario, index|
      - if index == 0
        - ab = '-a'
      - else
        - ab = '-b'
      - if scenario
        .row.inner-top-xs
          .col-sm-4
            .panel.panel-default
              .panel-heading
                .panel-title
                  %i.icon-road
                  Modal Split
                  .label.label-info= scenario.year
              .panel-body
                %svg.box-chart{id: 'modal-split-chart' + ab}
          .col-sm-4
            .panel.panel-default
              .panel-heading
                .panel-title
                  %i.icon-chart-bar
                  Verkehrsleistung
                  .label.label-info= scenario.year
              .panel-body
                %svg.box-chart{id: 'traffic-performance-chart' + ab}
          .col-sm-4
            .panel.panel-default
              .panel-heading
                .panel-title
                  %i.icon-leaf-1
                  CO2-Emissionen
                  .label.label-info= scenario.year
              .panel-body
                %svg.box-chart{id: 'carbon-emission-chart' + ab}

    -# .row
    -#   .col-sm-6.box
    -#     %h2.text-center Tagesganglinie
    -#     .box-chart
    -#       %svg#diurnal-curve-chart
    -#   .col-sm-6.box
    -#     %h2.text-center Wegedauer
    -#     .box-chart
    -#       %svg#boxplot-chart

%section#grid-map-section.light-bg
  .container-fluid.inner-top-xs
    .row
      .col-xs-12
        %h2
          %i.icon-arrows-cw
          Wie sehen die Verkehrsströme im Landkreis aus?
        %hr
    .row
      .col-sm-12.od-mode-selector-container
        - @scenario_a.available_modes.each do |mode|
          - mode_color = @scenario_a.mode_color(mode)
          .color-button.od-mode-selector{od_mode: mode, color: mode_color}= t("mode_names.#{mode}").upcase
      .col-xs-12
        .panel.panel-default
          .panel-heading
            .panel-title
              %i.icon-address
              Start-Ziel-Beziehungen
              .label.label-info= @scenario_a.year
          .panel-body
            .legend
              .row
                .col-xs-12
                  .total-count
                  .current-count-bar-container
                    .legend-label Anzahl:
                    .legend-label.legend-zero 0
                    .current-count-bar
                    .legend-label.current-count
            #grid-map

:javascript
  window.boxplot = #{@scenario_a.boxplot}
  window.dataScenarioA = #{@scenario_a.json_all.to_json}
  window.odRelationsScenarioA = #{@scenario_a.od_relations}

- if @scenario_b
  :javascript
    window.dataScenarioB = #{@scenario_b.json_all.to_json}
    window.odRelationsScenarioB = #{@scenario_b.od_relations}
