%section#show
  .container-full
    = render 'layouts/flash'
    #test-map


:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
  window.districtFeature = #{@scenario.district_feature.to_json}
  window.districtName = "#{@scenario.district_name}"
  window.modelYear = #{@scenario.year}
  window.seedText = "#{@scenario.seed_text}"
  window.modalSplit = #{@scenario.modal_split.to_json}
  window.trafficPerformance = #{@scenario.traffic_performance}
  window.diurnalCurve = #{@scenario.diurnal_curve}
  window.boxplot = #{@scenario.boxplot}
  window.scenarioSeed = #{@scenario.seed}
  window.createdAt = "#{@scenario.created_at}"
