%section#show
  .container.inner-xs
    .row
      .col-sm-4
        #district-geometry
      .col-sm-8
        .row
          .col-xs-6
            Landkreis:
            %h3= @scenario.district_name
          .col-xs-4
            Jahr:
            %h3= @scenario.year
          .col-xs-2
            Agenten:
            %h3= @scenario.number_of_agents
        .row
          .col-xs-12
            .pull-right
              %b erstellt am
              = @scenario.created_at

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
