%section#hero.tint-bg
  .container.inner-xs
    = render 'layouts/flash'
    .row
      .col-sm-4
        #district-geometry
      .col-sm-8
        %header
          %ul= "Landkreis: #{@scenario.district_name}"
          %ul= "Bezugsjahr: #{@scenario.year}"
          %ul= "Wege: #{@scenario.agent_size}"
          %ul= "Fläche: #{@scenario.district_area}"
          %ul= "Info: #{@scenario.seed_text}"
%section#show
  .container-fluid
    .row.inner-top-md
      .col-xs-12.center-block.text-center
        %h1.sidelines.text-center Dashboard
    .row
      .col-sm-6.box
        %h2.text-center Verkehrsleistung
        %svg#traffic-performance-chart.box-chart
      .col-sm-6.box
        %h2.text-center Modal Split
        %svg#modal-split-chart.box-chart
    .row
      .col-sm-6.box
        %h2.text-center CO2 Emissionen
        %svg#carbon-emission-chart.box-chart
      .col-sm-6.box
        %h2.text-center Tagesganglinie
        %svg#diurnal-curve-chart.box-chart
    .row
      .col-sm-6.box
        %h2.text-center Boxplot
        %svg#boxplot-chart.box-chart
    .row.inner-top-md
      .col-xs-12.center-block.text-center
        %h1.sidelines.text-center Kartenansicht

  .container-full
    .row
      .col-sm-12
        #grid-map

:javascript
  window.districtGeometry = #{@scenario.district_geometry.to_json}
  window.districtFeature = #{@scenario.district_feature.to_json}
  window.districtName = "#{@scenario.district_name}"
  window.modelYear = #{@scenario.year}
  window.seedText = "#{@scenario.seed_text}"
  window.modalSplit = #{@scenario.modal_split.to_json}
  window.trafficPerformance = #{@scenario.traffic_performance.to_json}
  window.diurnalCurve = #{@scenario.diurnal_json.to_json}
  window.boxplot = #{@scenario.boxplot}
  window.carbonEmission = #{@scenario.carbon_emission.to_json}
  window.scenarioSeed = #{@scenario.seed}
  window.createdAt = "#{@scenario.created_at}"
  window.districtArea = #{@scenario.district_area}
  window.featureCollection = #{@scenario.feature_collection.to_json}
