%header
  .navbar
    .navbar-header
      .container
        .navbar-brand.navbar-brand-mobile
          = link_to root_path do
            = image_tag 'logo_innoz_simulations_grey.png', class: 'logo'
        %a.navbar-toggle.btn.responsive-menu.pull-right{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse'}
          %i.icon-menu-1
    .yamm
      .navbar-collapse.collapse
        .container
          = link_to root_path do
            .navbar-brand
              = image_tag 'logo_innoz_simulations_grey.png', class: 'logo'
          %ul.nav.navbar-nav
            %li{class: ('active-navbar-li' if current_page?(scenarios_path))}
              = link_to 'Scenario Explorer', scenarios_path

            %li{class: ('active-navbar-li' if current_page?(new_scenario_path) || current_page?(creator_path))}
              - if current_user
                = link_to 'Scenario Creator', new_scenario_path
              - else
                = link_to 'Scenario Creator', creator_path

            - pages.each do |p|
              %li{class: ('active-navbar-li' if current_page?(controller: 'pages', action: p))}
                = link_to t('views.nav.' + p), send(p + '_path')

            %li.pull-right.nav-user-area
              - if current_user
                = link_to 'logout', '/logout', class: 'logout'
              - else
                %a.open-login-modal{'data-toggle' => 'modal', 'data-target' => '#login-modal'}
                  login
